upstream fastcgi_backend {
  server  unix:/run/php-fpm/www.sock;
}

server {

  listen 80;
  server_name {{server_name_magento}};
  set $MAGE_ROOT {{root_magento}};
  include {{root_magento}}/nginx.conf.sample;
}
